@import "colours.scss";

#vehicle-accordion {
  .panel-heading {
    background-color: $main;

    &:hover {
      text-decoration: underline;
    }
  }

  .panel-body {
    padding: 0px;

    .minor-section-header {
      background-color: $secondary;
      margin-top: 0px;
      padding: 5px 20px;
    }

    .specs-holder {
      padding: 20px;

      .spec-details-holder {
        .spec-content-holder {
          margin-top: 20px;
        }
      }
    }
  }
}
