@import "colours.scss";

#vehicle-accordion {
  .panel-heading {
    background-color: $main;

    &:hover {
      text-decoration: underline;
    }
  }

  .panel-body {
    padding: 0px;

    .minor-section-header {
      background-color: $secondary;
      margin-top: 0px;
      padding: 5px 20px;
    }

    .specs-holder {
      padding: 20px;

      .spec-details-holder {
        .spec-content-holder {
          margin-top: 20px;
        }
      }

      .comment-area-holder {
        .action-links {
          text-align: right;
          margin-bottom: 10px;

          a {
            cursor: pointer;
            margin-left: 10px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            i {
              margin-right: 2px;
            }
          }

          textarea {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

.nested-panel-group {
  margin-bottom: 0px !important;
}

.nested-panel {
  border: none !important;
}

.top-call-to-action {
  margin: 20px 0px;
}

.bottom-call-to-action {
  margin-bottom: 100px;
}

.call-to-action-holder {
  .btn {
    margin-right: 20px;

    i {
      margin-right: 5px;
    }
  }
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}