.range-spec-holder {
  .below-slider-section {
    margin-top: 60px;

    .range-holder {
      margin-left: 15px;
    }

    .selected-text {
      margin-top: 8px;
      margin-left: 5px;
      float: left;
    }

    .fraction-base {
      float: left;
      margin-top: 8px;
    }
  }
}