@import "colours.scss";

.btn.btn-primary {
  background-color: $custom1;
  border-color: $custom1;
}

.dropdown {
  float: left;

  .caret {
    margin-left: 5px !important;
  }

  ul li {
    cursor: pointer !important;
  }
}